---
import Main from "../../layouts/Main.astro";

export function getStaticPaths() {
    return [
        { params: { service: "docs" } },
        { params: { service: "pictures" } },
        { params: { service: "marketing" } },
        { params: { service: "design" } },
        { params: { service: "miscelaneous" } },
    ];
}

const { service } = Astro.params;

const servicesTitles = {
    docs: "Impresión de Documentos",
    pictures: "Impresión de Imágenes",
    marketing: "Herramientas de Publicidad",
    design: "Diseño Gráfico",
    miscelaneous: "Otros Servicios",
};

const title = servicesTitles[service];
---

<Main title={title}>
    <div></div>
</Main>
