---
import Main from "../../layouts/Main.astro";
import SERVICES from "../../data/services.json";

export function getStaticPaths() {
    return [
        { params: { service: "docs" } },
        { params: { service: "pictures" } },
        { params: { service: "marketing" } },
        { params: { service: "design" } },
        { params: { service: "miscelaneous" } },
    ];
}

const { service } = Astro.params;

const servicesCategories = {
    docs: {
        code: "docs",
        subtitle: "Impresión de Documentos",
    },
    pictures: {
        code: "pict",
        subtitle: "Impresión de Imágenes",
    },
    marketing: {
        code: "mktg",
        subtitle: "Herramientas de Publicidad",
    },
    design: {
        code: "dsgn",
        subtitle: "Diseño Gráfico",
    },
    miscelaneous: {
        code: "misc",
        subtitle: "Otros Servicios",
    },
};

const { code, subtitle } = servicesCategories[service];

const serviceContent = SERVICES.filter(({ category }) => category === code);
---

<Main {subtitle}>
    <div></div>
</Main>
