---
import { getCollection } from "astro:content";
import Main from "@layouts/Main.astro";
// import SERVICES from "../../data/services.json";

export async function getStaticPaths() {
    const allServicesList = await getCollection("services");

    const categories = new Set<string>(
        allServicesList.map(({ data: { category } }) => category),
    );

    const subtitles = {
        documents: "Impresión de Documentos",
        pictures: "Impresión de Imágenes",
        marketing: "Herramientas de Publicidad",
        design: "Diseño Gráfico",
        miscelaneous: "Otros Servicios",
    };

    const paths = [];

    categories.forEach((service) => {
        paths.push({
            params: {
                service,
            },
            props: {
                subtitle: subtitles[service],
                servicesByCategory: allServicesList.filter(
                    ({ data: { category } }) => category === service,
                ),
            },
        });
    });

    return paths;
}

// const { service } = Astro.params;

// const { code, subtitle } = servicesCategories[service];

// const serviceContent = SERVICES.filter(({ category }) => category === code);

const { subtitle, servicesByCategory } = Astro.props;
---

<Main {subtitle}>
    <div></div>
</Main>
