---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Inicio">
	<div class="hero">
		<picture>
			<source media="(min-width: 1440px)" srcset="hero-hq.webp" />
			<source media="(min-width: 1024px)" srcset="hero-large.webp" />
			<source media="(min-width: 768px)" srcset="hero-medium.webp" />
			<img src="/hero-small.webp" alt="Full Print store" />
		</picture>
		<div class="content">
			<h1>Ponte cómodo, crea, divierte e imprime</h1>
			<a href="/contact">¡Reserva YA!</a>
			<!-- https://wa.link/i0l5cf -->
		</div>
	</div>
</Layout>

<style>
	.hero {
		grid-column: 1 / 4;
		display: grid;
		place-items: center;

		& picture,
		& .content {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
			width: 100%;
		}

		& img {
			width: 100vw;
			z-index: -1;
		}

		& .content {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
	}
</style>
