---
import type { ServiceLink } from "../data/types";

import Main from "../layouts/Main.astro";

import Hero from "../components/Hero.astro";
import ServiceCarousel from "../components/ServiceCarousel.tsx";

const servicesLinks: ServiceLink[] = [
	{
		icon: "document",
		title: "Impresión de Documentos",
		url: "services/docs",
	},
	{
		icon: "picture",
		title: "Impresión de Imágenes",
		url: "services/pictures",
	},
	{
		icon: "lightbulb-on",
		title: "Herramientas de Publicidad",
		url: "services/marketing",
	},
	{
		icon: "customize-edit",
		title: "Diseño Gráfico",
		url: "services/design",
	},
	{
		icon: "square-plus",
		title: "Otros Servicios",
		url: "services/miscelaneous",
	},
];
---

<Main>
	<main>
		<Hero />

		<ServiceCarousel anchors={servicesLinks} client:visible />
	</main>
</Main>

<style></style>
