---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Inicio">
	<div id="hero">
		<div id="image-container">
			<img src="/prints.png" alt="Impresiones" id="hero-img" />
		</div>
		<div id="hero-text">
			<h1>Ponte cómodo, crea, divierte e imprime</h1>
			<a href="https://wa.link/i0l5cf" target="_blank">¡Reserva YA!</a>
		</div>
	</div>
</Layout>

<style>
	#hero {
		grid-column: 1 / 4;
		display: grid;
		place-items: center;
	}

	#image-container,
	#hero-text {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		width: 100%;
	}

	#image-container {
		z-index: -1;
	}

	#hero-img {
		width: 100vw;
		height: 50vh;
		object-fit: cover;
		filter: blur(5px);
		z-index: -1;
	}

	#hero-text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
</style>
