---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Inicio">
	<main>
		<Hero />
	</main>
</Layout>

<style>
	main {
		grid-column: 1 / 4;
		grid-row: 2 / 3;

		display: grid;
		grid-template-columns: auto 1fr auto;
	}
</style>
