<footer>
    <section></section>
    <section></section>
    <section></section>
</footer>

<style>
    footer {
        grid-column: 1 / 4;
        grid-row: 3 / 4;

        background-color: #130c0d;

        & a {
            color: white;
            text-decoration: none;
        }
    }
</style>
