---
import Logo from "./Logo.astro";

const currentYear = new Date().getFullYear().toString();
---

<footer>
    <section id="waves-bottom">
        <img
            src="/full-print-web/vectors/waves-bottom.svg"
            alt="Brand Waves Bottom"
        />
    </section>
    <section class="row info">
        <article>
            <Logo type="footer" />
        </article>
        <article class="xtra-nav">
            <h4>Servicios</h4>
            <ul>
                <li>
                    <a href="/full-print-web/services/docs"
                        >Impresión de Documentos</a
                    >
                </li>
                <li>
                    <a href="/full-print-web/services/pictures"
                        >Impresión de Imágenes</a
                    >
                </li>
                <li>
                    <a href="/full-print-web/services/marketing"
                        >Herramientas de Publicidad</a
                    >
                </li>
                <li>
                    <a href="/full-print-web/services/design">Diseño Gráfico</a>
                </li>
                <li>
                    <a href="/full-print-web/services/miscelaneous"
                        >Otros Servicios</a
                    >
                </li>
            </ul>
        </article>
        <article class="about">
            <h4>Información</h4>
            <ul>
                <li>
                    <a href="/full-print-web/about">¿Quiénes somos?</a>
                </li>
                <li>
                    <a href="/full-print-web/how-to-buy">¿Cómo comprar?</a>
                </li>
                <li>
                    <a href="/full-print-web/contact">Contáctanos</a>
                </li>
            </ul>
        </article>
        <article class="contact">
            <h4>Contacto</h4>
            <address>
                <ul>
                    <li>
                        <a href="tel:56950443336" target="_blank"
                            ><i class="fi fi-br-phone-call"></i> +569 5044 3336</a
                        >
                    </li>
                    <li>
                        <a
                            href="mailto:fullprint.chiloe@gmail.com"
                            target="_blank"
                            ><i class="fi fi-br-envelope"></i> fullprint.chiloe@gmail.com</a
                        >
                    </li>
                    <li>
                        <a
                            href="https://maps.app.goo.gl/E2bgyVkRNTVgx9eK6"
                            target="_blank"
                            ><i class="fi fi-br-marker"></i> Chacabuco 797, Ancud</a
                        >
                    </li>
                </ul>
            </address>
        </article>
    </section>
    <section class="row credits">
        <article>
            <p>
                <i class="fi fi-br-copyright"></i>{currentYear} Full Print | Desarrollado
                por Vicente Ferrer
            </p>
        </article>
        <article class="social">
            <a href="https://www.facebook.com/fullprint.chiloe/" target="_blank"
                ><i class="fi fi-brands-facebook"></i></a
            >
            <a
                href="https://www.instagram.com/fullprint.chiloe/"
                target="_blank"><i class="fi fi-brands-instagram"></i></a
            >
            <a href="https://wa.me/56950443336" target="_blank"
                ><i class="fi fi-brands-whatsapp"></i></a
            >
        </article>
    </section>
</footer>

<style>
    /* Mobile-first Layout */

    footer {
        grid-column: 1 / 4;
        grid-row: 3 / 4;

        position: relative;

        background-color: var(--primary-dark-color);

        display: grid;
        grid-template-columns: auto 1fr auto;

        & .row {
            grid-column: 2 / 3;

            z-index: 0;

            &.info {
                grid-row: 1 / 2;

                display: none;
            }

            &.credits {
                grid-row: 2 / 3;

                display: flex;
                flex-direction: column-reverse;
                justify-content: space-between;
                align-items: center;

                gap: 1rem;

                padding-block: 1rem;

                & article:not(.social) {
                    & p {
                        & i {
                            font-size: 0.8rem;
                            margin-right: 0.1rem;
                        }
                    }
                }

                & .social {
                    width: 40vw;

                    gap: 1rem;

                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    & a {
                        display: block;

                        & i {
                            font-size: 1.5rem;
                        }

                        &:nth-child(1):hover {
                            color: steelblue;
                        }

                        &:nth-child(2):hover {
                            color: #dd2a7b;
                        }

                        &:nth-child(3):hover {
                            color: #25d366;
                        }
                    }
                }
            }
        }

        & a {
            color: white;
            text-decoration: none;
        }
    }

    #waves-bottom {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 100%;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    /* Larger Screens Adaptations */

    @media (767px < width) {
        footer {
            & .row {
                &.info {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    justify-items: center;
                    align-items: self-start;

                    grid-auto-flow: column;
                    grid-auto-columns: 1fr;

                    padding-block: 1rem;

                    & ul li {
                        list-style: none;
                        margin-block: 0.1rem;
                    }

                    & .xtra-nav {
                        display: none;
                    }

                    & .contact {
                        & address {
                            font-style: normal;
                        }

                        & a {
                            &:hover {
                            }
                        }
                    }

                    & article {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;

                        &:not(.contact) {
                            & a {
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }

                &.credits {
                    flex-direction: row;

                    padding-inline: 1.5rem;

                    & .social {
                        width: 12vw;

                        & a {
                            & i {
                                font-size: 1.25rem;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (1023px < width) {
        footer {
            & .row {
                &.info {
                    & .xtra-nav {
                        display: flex;
                    }
                }

                &.credits {
                    padding-inline: 3rem;

                    & .social {
                        width: 10vw;

                        gap: 2rem;
                    }
                }
            }
        }
    }
</style>
