---
interface Props {}
---

<header>
    <a href="/">
        <img src="/logo.png" alt="Full Print logo" />
    </a>
    <nav>
        <a href="/" class="nav-link">Inicio</a>
        <a href="#" class="nav-link">Servicios</a>
        <a href="/productos" class="nav-link">Productos</a>
    </nav>
</header>
<style>
    header,
    nav {
        display: flex;
        align-items: center;
    }

    header {
        justify-content: space-between;
        background-color: #130c0d;
        padding: 0 1rem 0 2rem;
    }

    header img {
        width: calc(368px / 6);
    }

    nav {
        justify-content: space-around;
    }

    .nav-link {
        padding: 1.7rem 2rem;
        font-size: 1.15rem;
        font-weight: 600;
        text-decoration: none;
        color: white;
        transition: background-color ease-in-out 0.2s;

        &:hover {
            text-shadow: 1px 1px 3px #130c0d;
        }

        &:nth-of-type(1):hover {
            background-color: #ffe000;
        }

        &:nth-of-type(2):hover {
            background-color: #29b2d4;
        }

        &:nth-of-type(3):hover {
            background-color: #e00b80;
        }
    }
</style>
