---
import Logo from "./Logo.astro";
---

<header>
    <a href="/full-print-web/">
        <Logo type="header" />
    </a>
    <a href="#" id="menu"><i class="fi fi-br-menu-burger"></i></a>
    <nav>
        <div class="nav-list">
            <a href="/full-print-web/" class="nav-link">Inicio</a>
            <a href="#" class="nav-link" id="services-menu">Servicios</a>
            <ul>
                <li>
                    <a href="/full-print-web/services/docs"
                        >Impresión de Documentos</a
                    >
                </li>
                <li>
                    <a href="/full-print-web/services/pictures"
                        >Impresión de Fotografías</a
                    >
                </li>
                <li>
                    <a href="/full-print-web/services/marketing"
                        >Herramientas de Publicidad</a
                    >
                </li>
                <li>
                    <a href="/full-print-web/services/design">Diseño Gráfico</a>
                </li>
                <li>
                    <a href="/full-print-web/services/miscelaneous"
                        >Otros Servicios</a
                    >
                </li>
            </ul>
            <a href="/full-print-web/products" class="nav-link">Productos</a>
            <!-- <a href="/full-print-web/contact" class="nav-link">Contáctanos</a> -->
        </div>
    </nav>
</header>

<script>
    const menu = document.getElementById("menu");
    const nav = document.querySelector("nav");
    const servicesLink = document.getElementById("services-menu");
    const servicesList = document.querySelector("nav .nav-list ul");

    const closeServiceList = (e) => {
        if (!e.target.matches("#services-menu")) {
            servicesList.classList.remove("open");
        }
    };

    menu.addEventListener("click", () => {
        nav.classList.toggle("open");
    });

    nav.addEventListener("click", (e) => {
        if (nav.classList.contains("open") && !e.target.matches("nav")) {
            return;
        }

        nav.classList.remove("open");
    });

    servicesLink.addEventListener("click", () => {
        servicesList.classList.toggle("open");
    });

    document.addEventListener("click", closeServiceList);

    document.addEventListener("mouseover", (e) => {
        if (!e.target.matches(".nav-list ul li a")) {
            closeServiceList(e);
        }
    });
</script>

<style>
    header {
        grid-column: 1 / 4;
        grid-row: 1 / 2;

        background-color: #130c0d;

        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-inline: 1rem;

        & a {
            color: white;
            text-decoration: none;
        }
    }

    #menu {
        font-size: 1.8rem;
    }

    nav {
        visibility: hidden;
        position: fixed;
        top: 0;
        right: -100vw;

        width: 100vw;
        height: 100vh;

        transition:
            visibility 200ms ease,
            transform 275ms linear;

        &.open {
            visibility: visible;
            transform: translateX(-100vw);

            & .nav-list {
                box-shadow: 0 0 0 100vmax #130c0d7f;
            }
        }

        & .nav-list {
            float: right;

            width: fit-content;
            max-width: 50%;
            height: 100%;

            padding-top: 4rem;

            background-color: #130c0d;
            box-shadow: 0 0 0 0 transparent;
            transition: box-shadow 250ms linear;

            display: flex;
            flex-direction: column;

            & .nav-link {
                font-weight: 600;

                padding: 0.75rem 3rem;
                transition: background-color ease-in-out 200ms;

                &:hover {
                    text-shadow: 1px 1px 3px #130c0d;
                }

                &:nth-of-type(1):hover {
                    background-color: #ffe000;
                }

                &:nth-of-type(2):hover {
                    background-color: #29b2d4;
                }

                &:nth-of-type(3):hover {
                    background-color: #e00b80;
                }

                /* &:nth-of-type(4):hover {
                    background-color: coral;
                } */
            }
        }

        & ul {
            overflow: hidden;
            height: 0;

            &.open {
                height: auto;
            }

            & li {
                width: auto;
                list-style: none;

                & a {
                    display: block;
                    padding: 0.75rem 2.5rem 0.75rem 4rem;

                    font-size: 0.85rem;
                    font-weight: 500;

                    &:hover {
                        border-left: 3px solid white;
                        background-color: #7777;
                    }
                }
            }
        }
    }

    @media (767px < width) {
        header {
            padding-right: 0;
        }

        #menu {
            display: none;
        }

        nav,
        nav.open {
            visibility: visible;
            position: static;

            width: fit-content;
            height: auto;

            transform: none;
            transition: none;

            & .nav-list {
                float: none;

                width: fit-content;
                height: 100%;

                padding-top: 0;

                background-color: none;
                box-shadow: none;

                flex-direction: row;

                & .nav-link {
                    padding: 1.6rem 2rem;
                }
            }

            & ul {
                position: absolute;
                top: 4.54rem;
                right: 11.6rem;

                background-color: #130c0d;

                & li {
                    width: auto;
                    list-style: none;

                    & a {
                        display: block;
                        padding: 1.6rem 2rem;

                        &:hover {
                            border-left: none;
                        }
                    }
                }
            }
        }
    }
</style>
