<header>
    <a href="/">
        <figure>
            <img
                src="/logo.webp"
                alt="Full Print logo"
                width="150"
                height="150"
            />
            <figcaption>
                <h1>Full Print</h1>
                <p>Tu lugar de impresión</p>
            </figcaption>
        </figure>
    </a>
    <a href="#" id="menu"><i class="fi fi-br-menu-burger"></i></a>
    <nav>
        <div class="nav-list">
            <a href="/" class="nav-link">Inicio</a>
            <div class="nav-link">
                <a href="#">Servicios</a>
                <ul>
                    <li>
                        <a href="/services/docs"> Impresión de Documentos </a>
                    </li>
                    <li>
                        <a href="/services/pictures">
                            Impresión de Fotografías
                        </a>
                    </li>
                    <li>
                        <a href="/services/marketing">
                            Herramientas de Publicidad
                        </a>
                    </li>
                    <li>
                        <a href="/services/design"> Diseño Gráfico </a>
                    </li>
                    <li>
                        <a href="/services/miscelaneous"> Otros Servicios </a>
                    </li>
                </ul>
            </div>
            <a href="/products" class="nav-link">Productos</a>
            <a href="/contact" class="nav-link">Contáctanos</a>
        </div>
    </nav>
</header>

<script>
    const menu = document.getElementById("menu");
    const nav = document.querySelector("nav");

    menu.addEventListener("click", () => {
        nav.classList.add("open");
    });

    nav.addEventListener("click", (e) => {
        if (nav.classList.contains("open") && !e.target.matches("nav")) {
            return;
        }

        nav.classList.remove("open");
    });
</script>

<style>
    header,
    figure {
        display: flex;
        align-items: center;
    }

    header {
        grid-column: 1 / 4;
        grid-row: 1 / 2;

        background-color: #130c0d;
        padding-inline: 1rem;

        justify-content: space-between;

        & a {
            color: white;
            text-decoration: none;
        }
    }

    #menu {
        font-size: 1.8rem;
    }

    figure {
        padding-block: 0.75rem;

        gap: 0.4rem;

        & img {
            width: calc(368px / 9);
            height: auto;
        }

        & figcaption {
            display: flex;
            flex-direction: column;
            justify-content: center;

            & h1 {
                font-size: 1.4rem;
            }

            & p {
                font-size: smaller;
            }
        }
    }

    nav {
        visibility: hidden;
        position: fixed;
        top: 0;
        right: 0;

        width: 100vw;
        height: 100vh;

        transform: translateX(100vw);
        transition:
            visibility 200ms ease,
            transform 275ms linear;

        &.open {
            visibility: visible;
            transform: translateX(0vw);

            & .nav-list {
                box-shadow: 0 0 0 100vmax #130c0d7f;
            }
        }

        & .nav-list {
            float: right;

            width: fit-content;
            height: 100%;

            padding-top: 4rem;

            background-color: #130c0d;
            box-shadow: 0 0 0 0 transparent;
            transition: box-shadow 250ms linear;

            display: flex;
            flex-direction: column;

            & .nav-link {
                font-weight: 600;

                padding: 0.75rem 3rem;
                transition: background-color ease-in-out 200ms;

                &:hover {
                    text-shadow: 1px 1px 3px #130c0d;
                }

                &:nth-child(1):hover {
                    background-color: #ffe000;
                }

                &:nth-child(2):hover {
                    background-color: #29b2d4;
                }

                &:nth-child(3):hover {
                    background-color: #e00b80;
                }

                &:nth-child(4):hover {
                    background-color: coral;
                }
            }
        }
    }

    @media (767px < width) {
        header {
            padding-right: 0;
        }

        #menu {
            display: none;
        }

        nav,
        nav.open {
            visibility: visible;
            position: static;

            width: fit-content;
            height: auto;

            & .nav-list {
                float: none;

                width: fit-content;
                height: 100%;

                padding-top: 0;

                background-color: none;
                box-shadow: none;

                flex-direction: row;

                & .nav-link {
                    padding: 1.6rem 2rem;
                }
            }
        }
    }
</style>
