---
interface Props {}
---

<header>
    <a href="/">
        <figure>
            <img
                src="/logo.webp"
                alt="Full Print logo"
                width="150"
                height="150"
            />
            <figcaption>
                <h1>Full Print</h1>
            </figcaption>
        </figure>
    </a>
    <nav>
        <a href="/" class="nav-link">Inicio</a>
        <a href="#" class="nav-link">Servicios</a>
        <a href="/products" class="nav-link">Productos</a>
        <a href="/contact" class="nav-link">Contáctanos</a>
    </nav>
</header>
<style>
    header,
    figure,
    nav {
        display: flex;
        align-items: center;
    }

    header {
        grid-column: 1 / 4;
        width: 100vw;
        justify-content: space-between;
        background-color: #130c0d;
        padding-left: 1rem;
    }

    a:has(figure) {
        text-decoration: none;
    }

    figure {
        padding-block: 1rem;
        gap: 0.75rem;

        & img {
            width: calc(368px / 6);
            height: auto;
        }
    }

    figcaption {
        & h1 {
            color: white;
            text-decoration: none;
        }
    }

    nav {
        align-self: stretch;
        justify-content: space-around;
    }

    /* #menu {
        display: block;
    }

    #menu::before {
        content: "☰";
    } */

    .nav-link {
        padding: 2.15rem 2rem;
        font-size: 1.15rem;
        font-weight: 600;
        text-decoration: none;
        color: white;
        transition: background-color ease-in-out 0.2s;

        &:hover {
            text-shadow: 1px 1px 3px #130c0d;
        }

        &:nth-of-type(1):hover {
            background-color: #ffe000;
        }

        &:nth-of-type(2):hover {
            background-color: #29b2d4;
        }

        &:nth-of-type(3):hover {
            background-color: #e00b80;
        }

        &:nth-of-type(4):hover {
            background-color: coral;
        }
    }
</style>
