.service-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    gap: 1rem;

    border-radius: 1rem;
    border: 2px solid white;

    width: 10rem;
    height: 15rem;

    padding: 1rem;
}

.service-card i {
    font-size: 6rem;
}

.service-card h3 {
    text-align: center;
    font-size: medium;
}