---
const { icon, title, url } = Astro.props;
---

<a href={`/full-print-web/${url}`}>
	<article>
		<i class={`fi fi-br-${icon}`}></i>
		<h3>{title}</h3>
	</article>
</a>

<style>
	article {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		gap: 1rem;

		border-radius: 1rem;
		border: 2px solid white;

		width: 10rem;
		height: 100%;

		padding: 1rem;
	}

	i {
		font-size: 6rem;
	}

	h3 {
		text-align: center;
		font-size: medium;
	}
</style>
