---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{`Full Print | ${title}`}</title>
		<meta name="description" content="Full Print Website" />
		<meta name="author" content="Vicente Ferrer" />
		<meta name="generator" content={Astro.generator} />

		<meta property="og:title" content="Full Print, tu lugar de impresión" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="" />
		<meta property="og:url" content="" />

		<link
			rel="shorcut icon"
			type="image/webp"
			href="/full-print-web/images/favicon.webp"
		/>

		<link
			rel="stylesheet"
			href="https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdn-uicons.flaticon.com/2.3.0/uicons-brands/css/uicons-brands.css"
		/>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		/* Full Print Color Palette */
		--dark-primary-color: #262626;
		--dark-accent-color: #130c0d;
		--dark-shadow-color: #130c0d7f;

		--accent1-light-color: #df5ca5;
		--accent1-main-color: #dd258c;
		--accent1-dark-color: #ac1e6e;
		--accent2-light-color: #ffec89;
		--accent2-main-color: #fff016;
		--accent2-dark-color: #d7ad23;
		--accent3-light-color: #53c2df;
		--accent3-main-color: #20a2c4;
		--accent3-dark-color: #065569;

		--accent4-gold1-color: rgba(255, 212, 0, 1);
		--accent4-gold2-color: rgba(239, 175, 0, 1);
		--accent4-gold3-color: rgba(223, 150, 0, 1);

		--text-on-color: white;

		/* Backgrounds */
		--main-background-color: var(--dark-primary-color);
		--shadow-background-color: var(--dark-shadow-color);
		--social-background-color: var(--dark-primary-color);

		--form-background-color: var(--dark-primary-color);
		--input-background-color: var(--dark-accent-color);

		/* Links & Buttons */
		--link-color: var(--text-on-color);
		--button-hover-color: transparent;

		--link-fb-hover-color: steelblue;
		--link-ig-hover-color: #dd2a7b;
		--link-wp-hover-color: #25d366;

		--link-ft-hover-color: var(--accent1-main-color);
		--link-help-hover-color: var(--accent1-main-color);

		--link-shadow-color: var(--dark-accent-color);

		/* Nav links Gradients */
		--home-gradient1-color: var(--accent2-dark-color);
		--home-gradient2-color: var(--accent2-main-color);
		--home-gradient3-color: var(--accent2-light-color);

		--services-gradient1-color: var(--accent3-dark-color);
		--services-gradient2-color: var(--accent3-main-color);
		--services-gradient3-color: var(--accent3-light-color);

		--products-gradient1-color: var(--accent1-dark-color);
		--products-gradient2-color: var(--accent1-main-color);
		--products-gradient3-color: var(--accent1-light-color);

		/* Button Gradients */
		--premium-gradient1-color: var(--accent4-gold3-color);
		--premium-gradient2-color: var(--accent4-gold2-color);
		--premium-gradient3-color: var(--accent4-gold1-color);

		--dark-gradient1-color: var(--dark-accent-color);
		--dark-gradient2-color: var(--dark-primary-color);

		--base-gradient1-color: var(--accent1-dark-color);
		--base-gradient2-color: var(--accent1-main-color);
		--base-gradient3-color: var(--accent1-light-color);

		--secondary-gradient1-color: var(--accent3-dark-color);
		--secondary-gradient2-color: var(--accent3-light-color);
	}

	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}

	body {
		width: 100vw;
		display: grid;
		grid-template-columns: auto 1fr auto;

		color: var(--text-on-color);
	}

	main {
		grid-column: 2 / 3;
		grid-row: 2 / 3;

		width: 100%;

		display: grid;
		grid-template-columns: auto 1fr auto;
	}

	a {
		color: var(--link-color);
		text-decoration: none;
	}

	.action {
		font-weight: 500;

		text-align: center;
		text-decoration: none;

		padding: 1rem 2rem;

		border: 2px solid transparent;
		border-radius: 5rem;

		color: var(--link-color);

		&:hover {
			color: var(--button-hover-color);
		}

		&.premium {
			color: var(--button-hover-color);

			background:
				linear-gradient(
						var(--dark-gradient1-color),
						var(--dark-gradient2-color)
					)
					text,
				radial-gradient(
						circle at left,
						var(--premium-gradient1-color) 17%,
						var(--premium-gradient2-color) 60%,
						var(--premium-gradient3-color) 90%
					)
					padding-box;

			&:hover {
				background:
					radial-gradient(
							circle at left,
							var(--premium-gradient1-color) 17%,
							var(--premium-gradient2-color) 60%,
							var(--premium-gradient3-color) 90%
						)
						text,
					linear-gradient(
							var(--dark-gradient1-color),
							var(--dark-gradient2-color)
						)
						padding-box,
					radial-gradient(
							circle at left,
							var(--premium-gradient1-color) 17%,
							var(--premium-gradient2-color) 60%,
							var(--premium-gradient3-color) 90%
						)
						border-box;
			}
		}

		&.base {
			background: radial-gradient(
					circle at left,
					var(--base-gradient1-color) 17%,
					var(--base-gradient2-color) 60%,
					var(--base-gradient3-color) 90%
				)
				padding-box;

			&:hover {
				background:
					radial-gradient(
							circle at left,
							var(--base-gradient1-color) 17%,
							var(--base-gradient2-color) 60%,
							var(--base-gradient3-color) 90%
						)
						text,
					linear-gradient(
							var(--dark-gradient1-color),
							var(--dark-gradient2-color)
						)
						padding-box,
					radial-gradient(
							circle at left,
							var(--base-gradient1-color) 17%,
							var(--base-gradient2-color) 60%,
							var(--base-gradient3-color) 90%
						)
						border-box;
			}
		}

		&.secondary {
			background:
				linear-gradient(
						var(--dark-gradient1-color),
						var(--dark-gradient2-color)
					)
					padding-box,
				linear-gradient(
						var(--secondary-gradient1-color),
						var(--secondary-gradient2-color)
					)
					border-box;

			&:hover {
				background:
					linear-gradient(
							var(--secondary-gradient1-color),
							var(--secondary-gradient2-color)
						)
						text,
					linear-gradient(
							var(--dark-gradient1-color),
							var(--dark-gradient2-color)
						)
						padding-box,
					linear-gradient(
							var(--secondary-gradient1-color),
							var(--secondary-gradient2-color)
						)
						border-box;
			}
		}

		& i {
			font-size: small;
			margin-right: 0.25rem;
		}
	}
</style>
