---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{`Full Print | ${title}`}</title>
		<meta name="description" content="Full Print Website" />
		<meta name="author" content="Vicente Ferrer" />
		<meta name="generator" content={Astro.generator} />

		<meta property="og:title" content="Full Print, tu lugar de impresión" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="" />
		<meta property="og:url" content="" />

		<link
			rel="shorcut icon"
			type="image/webp"
			href="/full-print-web/images/favicon.webp"
		/>

		<link
			rel="stylesheet"
			href="https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdn-uicons.flaticon.com/2.3.0/uicons-brands/css/uicons-brands.css"
		/>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		/* Full Print Color Palette */
		--primary-dark-color: #262626;

		--accent1-light-color: #df5ca5;
		--accent1-main-color: #dd258c;
		--accent1-dark-color: #ac1e6e;
		--accent2-light-color: #ffec89;
		--accent2-main-color: #fff016;
		--accent2-dark-color: #d7ad23;
		--accent3-light-color: #53c2df;
		--accent3-main-color: #20a2c4;
		--accent3-dark-color: #065569;

		/* Linear Gradient Colors */
		--gradient-color-1: var(--accent1-dark-color);
		--gradient-color-2: var(--accent2-dark-color);
		--gradient-color-3: var(--accent3-dark-color);

		/* Shadows */
		--darkest-full-shadow-color: #130c0d;
		--darkest-half-shadow-color: #130c0d7f;
	}

	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	body {
		width: 100vw;
		display: grid;
		grid-template-columns: auto 1fr auto;

		color: white;
	}
</style>
