---
import Header from "../components/Header.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{`Full Print | ${title}`}</title>
		<meta name="description" content="Full Print Website" />
		<meta name="author" content="Vicente Ferrer" />
		<meta name="generator" content={Astro.generator} />

		<meta property="og:title" content="Full Print, tu lugar de impresión" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="" />
		<meta property="og:url" content="" />

		<link rel="shorcut icon" type="image/webp" href="/favicon.webp" />
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>

<style is:global>
	@import "@flaticon/flaticon-uicons/css/all/all.css";

	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	body {
		width: 100vw;
		display: grid;
		grid-template-columns: auto 1fr auto;
	}
</style>
